<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
</head>

<body>
    <h1>El juego con id {{this.id}}</h1>
    {{#if this.game}}
        <h3>{{ this.game.title }}</h3>
        <h3>{{ this.game.description }}</h3>
        <h3>{{ this.game.price }}</h3>
        <img src={{ this.game.image }}></img>
	{{else}}
		<h3>No hemos encontrado el juego que buscas!</h3>
    {{/if}}
    <a href="/games">Atras</a>
</body>

</html>